*{
    list-style-position: inside;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: lavender;
}
#one{
    padding-top: 50px;
    background-color:#333e50 ;
    height: 200px;
    
    color: white;
}
#header{
  
    text-align: center;
}
#photo p{
    margin-top: 50px;
    width: 40%;

}
#two{
    margin-bottom: 30px;
}
#photo img{
    border: 2px inset #333e50 ;
    border-radius: 50%;
    width: 15%;
    height: 200px;
}
#photo{
    
    
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#three{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
#four{
    
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.sol{
    margin-right: 160px;
}
